<div>
  <form (submit)="startMonitor()">
    <h1>Monitor URL</h1>
    <div class="input-group">
      <input type="text" name="url" class="form-control" [(ngModel)]="url">
      <button class="btn btn-primary">Start</button>
    </div>
  </form>
</div>

<div *ngIf="monitoring">

  <div class="btn-group my-3" role="group">
    <button *ngFor="let t of timeFilters" (click)="setTimeFilter(t.time)" class="btn btn-secondary"
            [class.active]="t.time === timeFilter">{{t.label}}</button>
  </div>

  <h3>HTTP Stats</h3>
  <app-chart [traces]="httpData" [layout]="httpLayout"></app-chart>

  <h3>Trace stats</h3>
  <app-chart [traces]="traceData" [layout]="traceLayout"></app-chart>

  <div class="row">


    <div class="col-8">
      <h3>Events</h3>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="setTypeFilter(null)"
                [class.active]="typeFilter === null">All
        </button>
        <button type="button" class="btn btn-secondary" (click)="setTypeFilter('dns')"
                [class.active]="typeFilter === 'dns'">DNS
        </button>
        <button type="button" class="btn btn-secondary" (click)="setTypeFilter('trace')"
                [class.active]="typeFilter === 'trace'">Trace
        </button>
        <button type="button" class="btn btn-secondary" (click)="setTypeFilter('http')"
                [class.active]="typeFilter === 'http'">HTTP
        </button>
      </div>

      <table class="table table-sm">
        <thead>
        <tr>
          <th>Time</th>
          <th>Type</th>
          <th>Success</th>
          <th>Duration</th>
          <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of displayEvents" (click)="openErrorDetails(e)"
            [class.font-weight-bold]="e === errorDetailsActive">
          <td>{{e.end}}</td>
          <td>{{e.type}}</td>
          <td>{{e.error ? 'ERROR' : 'OK'}}</td>
          <td>{{getDuration(e)}}</td>
          <td>
            <ng-container *ngIf="!e.error && e.type === 'dns'">
              Records: {{e.records}}
            </ng-container>
            <ng-container *ngIf="!e.error && e.type === 'trace'">
              Hops: {{e.traces.length}}
            </ng-container>
            <ng-container *ngIf="!e.error && e.type === 'http'">
              Status: {{e.responseStatus}}
            </ng-container>
            <ng-container *ngIf="e.error">
              {{e.error}}
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-4" *ngIf="errorDetails">
      <h3>Event details</h3>
      <pre>{{errorDetails}}</pre>
    </div>
  </div>
</div>
